*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  color: hsl(0, 0%, 7%);
  background-color: #f9f9f9;
  font-size: 18px;
  padding: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "content-creation rating rating schedule-social" "content-creation rating rating schedule-social" "content-ai social-network schedule-posting schedule-social" "content-ai social-network schedule-posting schedule-social" "content-ai growth-percent  growth-chart growth-chart";
  }
}

img {
  max-width: 100%;
}

.rating {
  background-color: hsl(256, 67%, 59%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
@media (min-width: 600px) {
  .rating {
    grid-area: rating;
  }
}
.rating__title {
  color: hsl(0, 0%, 100%);
  text-align: center;
  width: 60%;
}
.rating__title span {
  color: hsl(39, 100%, 71%);
}
.rating__five-stars {
  width: 50%;
}
.rating__description {
  color: hsl(0, 0%, 100%);
}

.social-network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
}
@media (min-width: 600px) {
  .social-network {
    grid-area: social-network;
  }
}
.social-network img {
  width: 100%;
}
.social-network h2 {
  font-size: 18px;
  text-align: left;
}

.schedule-posting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: hsl(39, 100%, 71%);
}
@media (min-width: 600px) {
  .schedule-posting {
    grid-area: schedule-posting;
  }
}
.schedule-posting img {
  width: 70%;
  align-self: flex-start;
}

.schedule-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: hsl(254, 88%, 90%);
}
@media (min-width: 600px) {
  .schedule-social {
    grid-area: schedule-social;
  }
}
.schedule-social h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 8px;
}
.schedule-social img {
  width: 95%;
}
.schedule-social p {
  text-align: center;
}

.growth-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: hsl(256, 67%, 59%);
}
@media (min-width: 600px) {
  .growth-chart {
    grid-area: growth-chart;
    flex-direction: row;
  }
}
.growth-chart h2 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  max-width: 60%;
  font-weight: 500;
}
.growth-chart img {
  width: 70%;
}

.growth-percent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
}
@media (min-width: 600px) {
  .growth-percent {
    grid-area: growth-percent;
  }
}

.content-creation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: hsl(31, 66%, 93%);
}
@media (min-width: 600px) {
  .content-creation {
    grid-area: content-creation;
  }
  .content-creation h2 {
    font-size: 2rem;
  }
}
.content-creation img {
  width: 60%;
}

.content-ai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: hsl(39, 100%, 71%);
  align-self: stretch;
}
@media (min-width: 600px) {
  .content-ai {
    grid-area: content-ai;
  }
}
.content-ai img {
  max-width: 60%;
  align-self: flex-start;
}

/*# sourceMappingURL=styles.css.map */
