.growth-chart {
  @include flex-center;
  background-color: $purple_500;
  h2 {
    color: $white;
    text-align: center;
    max-width: 70%;
    font-weight: 500;
  }
  img {
    width: 70%;
  }
  @media (min-width: $desktop-breakpoint) {
    grid-area: growth-chart;
    flex-direction: row;
    h2 {
      color: $white;
      text-align: left;
      max-width: 60%;
      font-weight: 500;
      margin-left: 1rem;
      font-size: 3rem;
      width: 90%;
    }
    img {
      width: 70%;
    }
  }
 
}
