.growth-percent {
  @include flex-center;
  background-color: $white;
  @media (min-width: $desktop-breakpoint) {
    grid-area: growth-percent;
    padding: 0 2rem;
    h2 {
      font-size: 4rem;
      align-self: flex-start;
    }

    p {
      align-self: flex-start;
    }

    img {
      margin-top: 2rem;
    }
  }
}
