.schedule-social {
  @include flex-center;
  justify-content: space-around;
  background-color: $purple_100;
  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 8px;
  }

  img {
    width: 95%;
  }

  p {
    text-align: center;
  }
  @media (min-width: $desktop-breakpoint) {
    grid-area: schedule-social;
    
    h2 {
      font-size: 2rem;
      text-align: left;
      width: 70%;
      font-weight: 700;
      align-self: center;
      margin-right: 2rem;
      line-height: 2rem;
    }
    img {
      margin-left: 50px;
      height: 50%;
      border-radius: 8px;
    }

    p {
      margin-bottom: 2rem;
      text-align: left;
      align-self: center;
      width: 80%;
    }
  }
 
}
