.social-network {
  @include flex-center;
  background-color: $white;
  img {
    width: 100%;
  }
  h2 {
    font-size: 18px;
    text-align: left;
  }

  @media (min-width: $desktop-breakpoint) {
    grid-area: social-network;
    position: relative;

  
    img {
      width: 100%;
      position: absolute;
      left: 10%;
      top: 5%;
    }
    h2 {
      font-size: 18px;
      text-align: left;
      padding: 0 2rem;
      font-size: 2rem;
      margin-top: 4rem;
    }
    
  }
 
}
