$purple_100: hsl(254, 88%, 90%);
$purple_500: hsl(256, 67%, 59%);
$yellow_100: hsl(31, 66%, 93%);
$yellow_500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);
$background-body: #f9f9f9;
$font_size_paragraph: 18px;

$font_family: "DM Sans";

$desktop-breakpoint: 600px;
